*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling header */
#header-main{
  background-image: url(../img/pattern.png);
  background-color: rgb(77, 161, 255);
  background-size: 22%;
  height: 70px;
}
#logo-header{
  padding-top: 2%;
  padding-left: 1%;
  width: 150px;
}

/* Styling main */
#main-title{
  margin-left: 1%;
  margin-top: 1%;
  font-size: 45px;
}

#color-sub{
  color: aqua;
}

#text-color, #data-font{
  margin-left: 1%;
  color: gray;
}

#picture-main{
  margin: 1%;
}

#highlight-text{
  background-color: yellow;
}

#info-main{
  margin-left: 1%;
  margin-bottom: 1%;
}

section ul, li{
  margin: 0 1%;
}

table{
  margin: 8px 1%;
  border: none;
}

table thead{
  background-color: rgb(61, 171, 227);
  color: white;
  text-align: left;
}

.tr-blue{
  background-color: rgb(177, 223, 255) ;
}

table th,
table td {
  padding: 12px 15px;
}