*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling header */
#header-main{
  background-image: url(../img/pattern.png);
  background-color: rgb(77, 161, 255);
  background-size: 22%;
  height: 70px;
}
#logo-header{
  padding-top: 2%;
  padding-left: 1%;
  width: 150px;
}

/* Styling main */
#main-title{
  margin-left: 1%;
  margin-top: 1%;
  font-size: 45px;
}

#color-sub{
  color: aqua;
}

#text-color, #data-font{
  margin-left: 1%;
  color: gray;
}

#picture-main{
  margin: 1%;
}

#highlight-text{
  background-color: yellow;
}

section p{
  margin: 1% 1%;
}

/* Styling tabella */

section ul, li{
  margin: 0 1%;
}

table{
  margin: 8px 1%;
  border: none;
}

table thead{
  background-color: rgb(61, 171, 227);
  color: white;
  text-align: left;
}

.tr-blue{
  background-color: rgb(177, 223, 255) ;
}

table th,
table td {
  padding: 1px 15px;
}

table{
  border-collapse: collapse;
}

/* Styling footer */

#footer-picture{
  padding: 2% 3%;
  margin: 1% 1%;
  background-image: url(../img/monitor.jpg);
  height: 200px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;

}

#footer-last-picture{
  padding: 2% 3%;
  margin-left: 1%;
  background-image: url(../img/graph.jpg);
  height: 200px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-footer{
  color: white;
  font-size: 20px;
}